
html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    color: #000000; /* Цвет текста для контраста */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('/static/images/background.jpg');
}

td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

table {
    border-radius: 10px;
    overflow: hidden;
}



.header-top {
    margin-top: 40px;
    margin-bottom: 30px;
}

.login-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* BUTTONS */
.btn-add {
    background-color: #000000c6;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px rgba(144, 144, 144, 0.59));
}

.btn-show {
    background-color: #000000c6;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px rgba(144, 144, 144, 0.59));
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.btn-edit {
    background-color: #228B22;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px rgba(144, 144, 144, 0.59));
}

.btn-delete {
    background-color: #dc0e0e;
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px rgba(144, 144, 144, 0.59));
}

.btn-public {
    background-color: #228B22;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    filter: drop-shadow(2px 2px 4px rgba(144, 144, 144, 0.59));
}

.btn-back {
    background-color: #CD5C5C;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    filter: drop-shadow(2px 2px 4px rgba(144, 144, 144, 0.59));

}
.btn-logout {
    background-color: #CD5C5C;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    filter: drop-shadow(2px 2px 4px rgba(144, 144, 144, 0.59));

}

.btn-login {
    background-color: #228B22;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 15px;
    filter: drop-shadow(2px 2px 4px rgba(144, 144, 144, 0.59));
    margin-bottom: 20px;

}

.btn-go-back {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 15px;
    filter: drop-shadow(2px 2px 4px rgba(144, 144, 144, 0.59));
    margin-bottom: 20px;

}

.btn-admin-lk {
    background-color: #090909c5;
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 15px;
    filter: drop-shadow(2px 2px 4px rgba(144, 144, 144, 0.59));
    margin-bottom: 20px;
    margin-left: auto;
}

.btn-container {
    display: flex; /* Используем flexbox для контейнера */
    justify-content: space-between;
    align-items: center;
}

/* FORMS */

.form-control {
    border: 2px solid #0f0f0f9c; /* Цвет и толщина обводки */
    border-radius: 10px; /* Скругление углов обводки */
    padding: 8px; /* Внутренний отступ вокруг текста в поле ввода */
}

/* Если вы хотите изменить стиль обводки в состоянии фокуса (когда поле активно) */
.form-control:focus {
    border-color: #007bff86; /* Цвет обводки в состоянии фокуса */
    outline: 0; /* Убирает "фокусную" рамку по умолчанию */
}

/* EVENTS */
.events-own-container {
    padding-left: 20px; /* Отступ слева */
    padding-right: 20px; /* Отступ справа */
    filter: drop-shadow(2px 2px 4px rgba(144, 144, 144, 0.59));
}

.events-info {
    border: 5px solid #000000;
    padding: 10px; /* Добавляем отступ вокруг контента */
    margin-bottom: 10px;
    border-radius: 15px; /* Добавляем отступ снизу для отделения блоков */
    transition: transform 0.3s;
    background-position: center;
    background-size: 110%;
}

.events-info:hover {
    transform: scale(1.05);
}

.btn_plus_time {
    display: flex;
    justify-content: flex-end; /* Выравниваем содержимое вправо */
}
.link-btn {
    background: linear-gradient(0deg, #242424 0%, #4d4d4d 100%);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 0; /* Сбросим внешние отступы */
    text-decoration: none;
    filter: drop-shadow(2px 2px 4px rgba(144, 144, 144, 0.59));
}

.head-info {
    padding-top: 0px;
    padding-bottom: 10px;
    display: flex; /* Используем flexbox для контейнера */
    justify-content: space-between;
    align-items: center;
}
.date-info {
    color: #000000;
    padding: 5px 15px;
    border-radius: 20px;
    border: 2px solid black;
    background: linear-gradient(0deg, #ffffff7d 0%, #ffffff7e 100%);
    margin: 0; /* Сбросим внешние отступы */
    font-size: 20px;
    text-align: center;
}
