{% extends 'base.html' %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.events-info').click(function() {
            var registrationLink = $(this).data('url');
            if (registrationLink) {
                window.location.href = registrationLink;
            }
        });
    });
</script>

<div class="row">
    <div class="col-12">
        <div class="btn-container">
            <a id="showAll" href="/events?showAll=True" class="btn btn-show"><b>Show all</b></a>
            <a id="showNotAll" href="/events?showAll=False" class="btn btn-show"><b>Hide past</b></a>
            <a href="/events/login" class="btn btn-admin-lk">
                <i class="fas fa-users-cog fa-lg"></i>
            </a>
        </div>
    </div>
</div>
<div class="events-container">
    {% for rs in events %}
    <div class="events-info" data-url="{% if rs.registration_link is not none %}{{ rs.registration_link }}{% endif %}"style="background-image: url({% if rs.tag == 'IT' %}'/static/images/codespace.jpg'
    {% elif rs.tag == 'Наука и исследования' %}'/static/images/science.jpg'
    {% elif rs.tag == 'Искусство и музыка' %}'/static/images/art.jpg'
    {% elif rs.tag == 'Здоровье и спорт' %}'/static/images/sport.jpg'
    {% endif %});">
            <div class="head-info">
                <h3>{% if rs.title is not none %}{{ rs.title }}{% endif %}</h3>
                <div class="date-info">
                    <b>{% if rs.event_date is not none %}{{ rs.event_date.strftime('%d.%m.%Y') }}{% endif %}</b>
                    <br>
                    <b>{% if rs.event_date is not none %}{{ rs.event_date.strftime('%H:%M') }}{% endif %}</b>
                </div>
            </div>
            <p style="font-size: 15px"><strong>DESCRIPTION:</strong> {% if rs.description is not none %}{{ rs.description|truncate(100, True) }}{% endif %}</p>
            <p style="font-size: 15px"><strong>LOCATION:</strong> {% if rs.location is not none %}{{ rs.location }}{% endif %}</p>
        </div>
    {% endfor %}
</div>



{% endblock content %}